<!-- NAVIGATION -->
<nav id="nav" class="nav">
  <ul class="wrapper">
      <li class="nav-item">
        <a href="#intro" class="nav-link">Intro</a>
      </li>
    {% if site.sections.about %}
      <li class="nav-item">
        <a href="#about" class="nav-link">O evento</a>
      </li>
    {% endif %}
    {% if site.sections.speakers %}
      <li class="nav-item">
        <a href="#speakers" class="nav-link">Palestrantes</a>
      </li>
    {% endif %}
    {% if site.sections.city %}
      <li class="nav-item">
        <a href="#city" class="nav-link">A cidade</a>
      </li>
    {% endif %}
    {% if site.sections.location %}
      <li class="nav-item">
        <a href="#location" class="nav-link">Local</a>
      </li>
    {% endif %}
    {% if site.sections.schedule %}
      <li class="nav-item">
        <a href="#schedule" class="nav-link">Agenda</a>
      </li>
    {% endif %}
    {% if site.sections.sponsors %}
      <li class="nav-item">
        <a href="#sponsors" class="nav-link">Patrocínio</a>
      </li>
    {% endif %}
    {% if site.sections.partners %}
      <li class="nav-item">
        <a href="#partners" class="nav-link">Parceiros</a>
      </li>
    {% endif %}
    {% if site.sections.contact %}
      <li class="nav-item">
        <a href="#contact" class="nav-link">Contato</a>
      </li>
    {% endif %}
  </ul>
</nav>
<hr />