{% if site.sections.about %}

  <!-- ABOUT -->
  <section class="about" id="about">
    <h2 class="section-title">O Evento</h2>
	<p>Vamos juntos fazer um grande dia, dedicado a melhorar o nosso conhecimento relacionado ao desenvolvimento front-end, junto com grandes palestrantes do cenário local e nacional. Neste evento, iremos abordar tópicos não só de JavaScript, mas também de CSS, HTML, SEO, Responsive, web multi-plataforma móvel, HTML, JavaScript, CSS. A primeira edição será na Faculdade Marista, Apipucos no dia 14 de dezembro de 2013. Nos vemos lá!</p>
  </section>
  <!-- / ABOUT -->

{% endif %}