{% if site.sections.about %}

  <!-- ABOUT -->
  <section class="about" id="about">
    <h2 class="section-title">About</h2>
    <p class="about-p">
    Let us together make a great day, dedicated to improving our knowledge related to front-end development, along with great speakers from local and national. This year we will talk about JavaScript, CSS, HTML, SEO, Responsive, cross-platform mobile web, HTML, JavaScript, CSS. This first edition will be at Faculdade Marista, Apipucos on December 13, 2013. See you there!
    </p>
<!--     <p>Vamos juntos fazer um grande dia, dedicado a melhorar o nosso conhecimento relacionado ao desenvolvimento front-end, junto com grandes palestrantes do cenário local e nacional. Esse ano vamos abordar tópicos não só de JavaScript, mas também de CSS, HTML, SEO, Responsive, web multi-plataforma móvel, HTML, JavaScript, CSS. A esta primeira edição será na Faculdade Marista, Apipucos no dia 13 de dezembro de 2013. Nos vemos lá!</p>
 -->  </section>
  <!-- / ABOUT -->

{% endif %}