{% if site.sections.city %}

  <!-- CITY -->
  <section class="section location" id="city">
    <span class="zigzag-border"></span>
    <h2 class="section-title">The City</h2>

    <section class="location-video">
      <p class="location-about">
        Recife has been historically a crib for very good programmers, designers, artists and entrepreneurs. For the past 20 years, we've been sending lots of engineers to companies like IBM and Microsoft and more recently to Google and Facebook. Despite of all this famous, we still have not made our chapter in internet history. We've lost good internet phases and simply watched companies like those above to be born and grow. Recife definitely needs to make more internet. Excitingly, Recife is now finally making some. Not only there are a lot of new entrepreneurs coming with different background education other than technology, but also the new tech guys are much more prepared and entrepreneurship is very often their first choice.

        If you love technology, Recife is your city in Brazil!

        <span class="location-reference">
            reference: <a href="http://manguez.al/">manguez.al</a>
        </span>
      </p>
      <iframe src="//player.vimeo.com/video/32413567?portrait=0" width="480" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </section>
  </section>
  <!-- / CITY -->
{% endif %}