{% if site.sections.city %}

  <!-- CITY -->
  <section class="section location" id="city">
    <span class="zigzag-border"></span>
    <h2 class="section-title">A cidade</h2>

    <section class="location-video">
      <p class="location-about">

        Recife tem sido historicamente um berco para bons programadores, designers, artistas e empresarios. Nos ultimos 20 anos, temos enviado varios engenheiros para empresas como a IBM e a Microsoft, e mais recentemente para o Google e Facebook. Apesar de toda esta fama, ainda nao fizemos o nosso capitulo na historia da internet. Perdemos boas fases de internet e simplesmente assistimos empresas, como aquelas acima, nascerem e crescerem. Recife definitivamente precisa fazer mais internet. Empolgante, Recife agora esta finalmente fazendo alguma coisa. Apenas nao temos uma grande quantidade de novos empreendedores com conhecimento diferente de tecnologia, mas tambem os nossos desenvolvedores sao muito mais preparados e empreendedorismo muitas vezes e sua primeira escolha.

        Se voce gosta de tecnologia, Recife e a sua cidade no Brasil!

        <span class="location-reference">
            Referencia: <a href="http://manguez.al/">manguez.al</a>
        </span>
      </p>
      <iframe src="//player.vimeo.com/video/32413567?portrait=0" width="480" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </section>
  </section>
  <!-- / CITY -->
{% endif %}