{% if site.sections.location %}

  <!-- LOCATION -->
  <section class="section location" id="location">
    <span class="zigzag-border"></span>
    <h2 class="section-title">Location</h2>
    <section class="location-map">
      <p class="location-about">
        {{ site.conf.venue }}<br>
        {{ site.conf.address }}
      </p>
      <div id="map-canvas" class="location-area" data-address="{{ site.conf.address }}"></div>
    </section>

    {% if site.conf.address != '' %}
    {% endif %}
  </section>
  <!-- / LOCATION -->
{% endif %}