{% if site.sections.location %}

  <!-- LOCATION -->
  <section class="section location" id="location">
    <span class="zigzag-border"></span>
    <h2 class="section-title">Local</h2>
    <section class="location-map">
      <div class="location-about">
        <strong>{{ site.conf.venue }}</strong><br>
        {{ site.conf.address }}<br><br>
        <strong>As linhas de ônibus que passam próximo:</strong>
        <br>
        <ul>
          <li>Dois Irmãos/Rui Barbosa</li>
          <li>Sítio dos Pintos/Dois Irmãos</li>
          <li>Sítio dos Pintos/Imip (Joana Bezerra)</li>
          <li>Casa Amarela/Cabugá</li>
          <li>Macaxeira/Parnamirim</li>
        </ul>
      </div>
      <div id="map-canvas" class="location-area" data-address="{{ site.conf.address }}"></div>
    </section>

    {% if site.conf.address != '' %}
    {% endif %}
  </section>
  <!-- / LOCATION -->
{% endif %}